# Cached files
*/__pycache__/*
__pycache__/*

# Docker files
.dockerignore
Dockerfile

# Git repository details
.git
.gitignore

# IDE
.vscode

# Python virtual environment
.venv

# Compiled code
*/*.egg-info
*.egg-info
*/*.pyc
