{% extends "layout.html" %}
{% block content %}
    <div class="jumbo">
        <form name="add-expense">
            <h3>Add new Expense</h3>
            <input type="text" placeholder="Expense name" name="name" required />
            <br/>
            <select name="category_id" required>
                {% for category in categories %}
                <option value="{{category.get_category_id()}}">{{category.get_name()}}</option>
                {% endfor %}
            </select>
            <br/>
            <input type="date" placeholder="Purchase date" name="purchase_date" required />
            <br/>
            <input type="number" placeholder="Cost" name="cost" step="0.01" min="0 required" />
            <br/>
            <button type="submit" name="submit">Submit</button>
        </form>
        <section>
            <h3>Last 30 Days Summary</h3>
            <table id="statistics">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th id="statistics_total"></th>
                    </tr>
                </tfoot>
            </table>
            <h3>Latest 30 Expenses</h3>
            <table id="expenses">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/add_expense.js') }}"></script>
{% endblock %}
